* {
  font-family: "Courier";
}

body {
  height: 100vh;
  background-color: #495867;
  color: #F7F7FF;
}

.top, .bottom {
  height: 50vh;
}

.top {
  padding-bottom: 40px;
}

.lead {
  color: #BDD5EA;
}

.my-btn {
  width: 100%;
  background-color: rgba(87, 115, 153, 1);;
  border: 1px solid rgba(87, 115, 153, 1);;
}

.my-btn:hover, .my-btn:visited, .my-btn:active {
  background-color: rgba(87, 115, 153, .4);;
  border: 1px solid rgba(87, 115, 153, .4);;
}
